altgraph==0.17
auto-py-to-exe==2.7.6
bottle==0.12.18
bottle-websocket==0.2.9
cffi==1.14.1
Eel==0.12.4
et-xmlfile==1.0.1
future==0.18.3
gevent==20.6.2
gevent-websocket==0.10.1
greenlet==0.4.16
jdcal==1.4.1
macholib==1.14
openpyxl==3.0.2
pefile==2019.4.18
pycparser==2.20
PyInstaller==3.6
PyQt5==5.13.1
PyQt5-sip==12.7.0
pywin32==227
pywin32-ctypes==0.2.0
whichcraft==0.6.1
zope.event==4.4
zope.interface==5.1.0